{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!-- Top Bar -->
<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <i class="fas fa-phone"></i>
        +234 7058005618
      </div>

      <div class="col-md-3">
        <i class="fas fa-envelope-open"></i> raphealjunior7@gmail.com
      </div>

      <div class="col-md-3">
        <div class="social text-right">
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

      <div class="col-md-3">
        <div class="text-right">
          {% for language in languages %}
          <a href="#{{ language.code }}" onclick="set_language('{{ language.code }}')">
            <span class="flag-icon flag-icon-{{ language.code }}"></span>
          </a>
          {% endfor %}

          <form action="{% url 'set_language' %}" method="post" id="setlang">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.path }}" />
            <input type="hidden" name="language" id="language" />
          </form>

          <script>
            function set_language(code) {
              document.getElementById("language").value = code;
              document.getElementById("setlang").submit();
            }

            // auto-submit if hash is present
            if (window.location.hash) {
              const code = window.location.hash.substring(1);
              document.getElementById("language").value = code;
              document.getElementById("setlang").submit();
            }
          </script>

        </div>
      </div>
    </div>
  </div>
</section>
